

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.display-flex{
  display:flex;
}

.container{
  max-width:1024px;
  width: 100%;
  margin: 0 auto;
}

header{
  background-color: #0e50c4;
}

header .container{
  justify-content: space-between;
  align-items: center;
  padding:20px 0 ;
}

header h1{
  font-style: italic;
  font-weight:bold;
  font-family: 2rem;
  color:#fff;
}

.menu__items{
  list-style: none;
  gap:2rem;
}

.menu__item a{
  text-decoration: none;
  font-weight:bold;
  font-size: 1.3rem;
  color:#fff;
  position: relative;
}

.menu__item a:after{
  position:absolute;
  content: '';
  left:0;
  bottom:-4px;
  height:2px;
  width:0;
  background: #fff;
  transition: width .4s ease-out;
}

.menu__item a:hover:after{
  width:100%;
}

/* SOBRE A LOJA */
.about__store{
  padding: 50px 0 .5rem;
}

.about__store img{
  width:45%;
  float:left;
  padding-right:30px;
}

.title__about__store{
  color: #0e50c4;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  border-bottom:1px solid #0e50c4;
}

.about__store p{
  padding-bottom: .5rem;
  text-indent:2rem;
}


/* PRODUTOS */
.products .box__products__container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

.box__product img{
  width: 30%;
}

@media screen and (max-width: 640px){
  .container{
    width: 90%;
  }

  header .container{
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }

 .menu__items,
 .main__title span{
  display:flex;
  gap:.5rem;
  flex-direction: column;
 }

 .menu__items{
  transform: translateX(-150px);
 }

 .menu__items a{
  font-size: 1.2em;
 }

 .about__store{
  flex-direction: column;
 }

 .title__about__store{
  padding-top: 1rem;
 }

}

@media screen and (min-width: 641px) and (max-width:1203px){
  .container {
    max-width: 90%;
  }

  header .container{
    align-items: center;
  }

  .about__store{
    flex-direction: column;
   }

  .about__store img{

    /* 
    ------------------------------
      Não estou conseguindo estilizar a imagem
      Esperar a resposta do professor
    -----------------------------
    */
  }

  .about__store div{
    padding-top: 20px;
  }
}




